<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #txtMedico
          (keyup)="filtrarMedicos(txtMedico.value)"
          type="text"
          class="form-control"
          placeholder="Buscar medico... "
        />
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">MEdicos</h4>
            <h6 class="card-subtitle">Total de medicos:{{ medicos.length }}</h6>
          </div>
          <div class="col-4">
            <div class="text-right">
              <a class="btn btn-primary" routerLink="/dashboard/medico/nuevo">
                <i class="fa fa-hospital-o"></i> Crear medico
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td class="avatarimg text-center">
                  <img
                    class="cursor"
                    (click)="abrirModalImagen(medico)"
                    [src]="medico.img | mostrarImagen: 'medicos'"
                    alt=""
                  />
                </td>
                <td>{{ medico.nombre }}</td>

                <td class="text-nowrap">
                  <a
                    [routerLink]="['/dashboard/medico', medico._id]"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                    class="cursor"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="eliminarMedico(medico)"
                    data-toggle="tooltip"
                    class="cursor"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary">Anteriores</button>
        &nbsp;
        <button class="btn btn-secondary">Siguientes</button>
      </div>
    </div>
  </div>
</div>
