<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfi</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form
          [formGroup]="perfilForm"
          (ngSubmit)="actualizar()"
          class="form p-t-20"
        >
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
          </div>

          <button
            [disabled]="perfilForm.invalid"
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            Guardar
          </button>
          <button type="reset" class="btn btn-inverse waves-effect waves-light">
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>
        <div class="text-center">
          <img
            *ngIf="!imgTemp"
            [src]="usuario.getImagen"
            alt=""
            class="img-avatar"
          />

          <img *ngIf="imgTemp" [src]="imgTemp" alt="" class="img-avatar" />
        </div>
        <br />
        <br />
        <input type="file" (change)="cambiarImagen($event.target.files[0])" />
        <br />
        <br />
        <button
          [disabled]="!imagenSubir"
          (click)="subirImagen()"
          type="button"
          class="btn btn-success waves-effect waves-light m-r-10"
        >
          Cargar
        </button>
      </div>
    </div>
  </div>
</div>
